.box {
  display: flex;
}
.text {
  font-size: 14px;
  color: #000;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
.dark {
  color: #eff1f3;
}
.log {
  margin-right: 14px;
}
.text:hover {
  color: #9b9faa;
}
