
.box {
  display: flex;
  gap: 21px;
  margin-top: 33px;
  margin-left: 32px;
}
.clock {
  width: 50px;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}
.form_control{
  margin-bottom: 32px;
  width: 116px;
  font-size: 18px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
}
.btn {
  width: 20px;
  height: 20px;
  border: none;
  background-color: inherit;
}

@media screen and (min-width: 1280px){
  .box{
    margin-top: 147px;
    margin-bottom: 60px;
  }
}
